
h1{color:black;
    font-size: 40px; 
    text-align:center;
  }


b
  {color:red;
  font-size: 40px;
  font-weight:400;
  text-align:left;
}
  p{
    color:black;
    font-size: 16px; 
    text-align:left;
  }
  #txtbox { font-size: 18pt; height: 53px; width : 800px; }


  